module 6/task 5/Demo_Example_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Demo_Example_WSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Demo_Example_WSDL" targetNamespace="http://www.example.org/Demo_Example_WSDL/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Demo_Example_WSDL/">
      <xsd:element name="AddNewEmloyee"
      	type="tns:AddNewEmployeeRequestType">

      </xsd:element>
      <xsd:element name="AddNewEmloyeeResponse"
      	type="tns:AddNewEmployeeResponseType">

      </xsd:element>
      <xsd:element name="EditEmployeeEducation"
      	type="tns:EditEmployeeRequestType">

      </xsd:element>
      <xsd:element name="EditEmployeeEducationResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="result" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="EditEmployeeProfessionalCategory">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="newprofessionalcategory" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="EditEmployeeProfessionalCategoryResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="result" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteEmployee"
      	type="tns:DeleteEmployeeRequestType">

      </xsd:element>
      <xsd:element name="DeleteEmployeeResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="result" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="RetrieveAllEmployees">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="profesionalcategory" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="RetrieveAllEmployeesResponse"
      	type="tns:AddNewEmployeeRequestType">

      </xsd:element>

      <xsd:complexType name="AddNewEmployeeRequestType">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="surname" type="xsd:string"></xsd:element>
      		<xsd:element name="education" type="xsd:string"></xsd:element>
      		<xsd:element name="professionalcategory" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="AddNewEmployeeResponseType">
      	<xsd:sequence>
      		<xsd:element name="result" type="xsd:boolean"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="DeleteEmployeeRequestType">
      	<xsd:sequence>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="surname" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
    
      <xsd:complexType name="EditEmployeeRequestType">
      	<xsd:sequence>

      		<xsd:element name="neweducation" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EditEmployeeEducationFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="EditEmployeeEducationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="AddNewEmloyeeRequest">
    <wsdl:part element="tns:AddNewEmloyee" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddNewEmloyeeResponse">
    <wsdl:part element="tns:AddNewEmloyeeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EditEmployeeEducationRequest">
  	<wsdl:part name="parameters" element="tns:EditEmployeeEducation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditEmployeeEducationResponse">
  	<wsdl:part name="parameters" element="tns:EditEmployeeEducationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditEmployeeProfessionalCategoryRequest">
  	<wsdl:part name="parameters" element="tns:EditEmployeeProfessionalCategory"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditEmployeeProfessionalCategoryResponse">
  	<wsdl:part name="parameters" element="tns:EditEmployeeProfessionalCategoryResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeRequest">
  	<wsdl:part name="parameters" element="tns:DeleteEmployee"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeResponse">
  	<wsdl:part name="parameters" element="tns:DeleteEmployeeResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllEmployeesRequest">
  	<wsdl:part name="parameters" element="tns:RetrieveAllEmployees"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveAllEmployeesResponse">
  	<wsdl:part name="parameters" element="tns:RetrieveAllEmployeesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="EditEmployeeEducationFault">
  	<wsdl:part name="parameters" element="tns:EditEmployeeEducationFault"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="Demo_Example_WSDL">
  
    <wsdl:operation name="AddNewEmloyee">
      <wsdl:input message="tns:AddNewEmloyeeRequest"/>
      <wsdl:output message="tns:AddNewEmloyeeResponse"/>
    </wsdl:operation>
	
    <wsdl:operation name="EditEmployeeEducation">
    	<wsdl:input message="tns:EditEmployeeEducationRequest"></wsdl:input>
    	<wsdl:output message="tns:EditEmployeeEducationResponse"></wsdl:output>
    </wsdl:operation>
	
    <wsdl:operation name="EditEmployeeProfessionalCategory">
    	<wsdl:input message="tns:EditEmployeeProfessionalCategoryRequest"></wsdl:input>
    	<wsdl:output message="tns:EditEmployeeProfessionalCategoryResponse"></wsdl:output>
    </wsdl:operation>
	
    <wsdl:operation name="DeleteEmployee">
    	<wsdl:input message="tns:DeleteEmployeeRequest"></wsdl:input>
    	<wsdl:output message="tns:DeleteEmployeeResponse"></wsdl:output>
    </wsdl:operation>
	
    <wsdl:operation name="RetrieveAllEmployees">
    	<wsdl:input message="tns:RetrieveAllEmployeesRequest"></wsdl:input>
    	<wsdl:output message="tns:RetrieveAllEmployeesResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="Demo_Example_WSDLSOAP" type="tns:Demo_Example_WSDL">

    <wsdl:operation name="AddNewEmloyee">
      <soap:operation soapAction="http://www.example.org/Demo_Example_WSDL/AddNewEmloyee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="EditEmployeeEducation">
      <soap:operation soapAction="http://www.example.org/Demo_Example_WSDL/EditEmployeeEducation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	
	<wsdl:operation name="EditEmployeeProfessionalCategory">
      <soap:operation soapAction="http://www.example.org/Demo_Example_WSDL/EditEmployeeProfessionalCategory"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	
	<wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://www.example.org/Demo_Example_WSDL/DeleteEmployee"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	
	<wsdl:operation name="RetrieveAllEmployees">
      <soap:operation soapAction="http://www.example.org/Demo_Example_WSDL/RetrieveAllEmployees"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  
  <wsdl:service name="Demo_Example_WSDL">
    <wsdl:port binding="tns:Demo_Example_WSDLSOAP" name="Employees">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
