module 6/task 5/Demo_Example.wadl

<?xml version="1.0" encoding="utf-8"?> 
 <application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd" 
  xmlns:tns="urn:epam:yn" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:yn="urn:epam:yn" 
  xmlns:ya="urn:epam:api" 
  xmlns="http://wadl.dev.java.net/2009/02"> 
   
   <resources base="http://www.example.org/Demo_Example_WADL/"> 
     
	 <resource path="addEmployee"> 
       <method name="PUT" id="addEmployee">         	 
		 <request> 
           <param name="name" type="xsd:string" 
             style="query" required="true"/> 
		   <param name="surname" type="xsd:string" 
             style="query" required="true"/>
		   <param name="education" type="xsd:string" 
             style="query" required="true"/>
		   <param name="professionalCategory" type="xsd:string" 
             style="query" required="true"/> 
         </request>        
		 <response status="200"> 
           <representation mediaType="application/xml" 
             element="yn:ResultSet"/> 
         </response>		 
         <response status="400"> 
           <representation mediaType="application/xml" 
             element="ya:Error"/> 
         </response>		 
       </method>  
     </resource>
	 
	<resource path="editEducation"> 
       <method name="POST" id="editEducation">         	 
		 <request> 
           <param name="newEducation" type="xsd:string" 
             style="query" required="true"/> 
         </request>        
		 <response status="200"> 
           <representation mediaType="application/xml" 
             element="yn:ResultSet"/> 
         </response>		 
         <response status="400"> 
           <representation mediaType="application/xml" 
             element="ya:Error"/> 
         </response>		 
       </method>  
     </resource>
	 
	 <resource path="editProfessionalCategory"> 
       <method name="POST" id="editProfessionalCategory">         	 
		 <request> 
           <param name="newProfessionalCategory" type="xsd:string" 
             style="query" required="true"/> 
         </request>        
		 <response status="200"> 
           <representation mediaType="application/xml" 
             element="yn:ResultSet"/> 
         </response>		 
         <response status="400"> 
           <representation mediaType="application/xml" 
             element="ya:Error"/> 
         </response>		 
       </method>  
     </resource> 

	 <resource path="deleteEmploye"> 
       <method name="DELETE" id="deleteEmploye">         	 
		 <request> 
           <param name="education" type="xsd:string" 
             style="query" required="true"/> 
         </request>        
		 <response status="200"> 
           <representation mediaType="application/xml" 
             element="yn:ResultSet"/> 
         </response>		 
         <response status="400"> 
           <representation mediaType="application/xml" 
             element="ya:Error"/> 
         </response>		 
       </method>  
     </resource>  
	 
	 <resource path="RetrieveAllEmployees"> 
       <method name="GET" id="RetrieveAllEmployees">         	 
		 <request> 
           <param name="education" type="xsd:string" 
             style="query" required="true"/> 
         </request>        
		 <response status="200"> 
           <representation mediaType="application/xml" 
             element="yn:ResultSet"/> 
         </response>		 
         <response status="400"> 
           <representation mediaType="application/xml" 
             element="ya:Error"/> 
         </response>		 
       </method>  
     </resource>  
	 
   </resources>
</application>